.App {
  text-align: center;
  font-size: 35px;
  margin-top: 20%;
}

.App-title {
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.Clock-title {
  font-weight: bold;
}

.Clock-prefix {
  display: flex;
  justify-content: space-evenly;
  width: 58vh;
  margin: 0 auto;
  margin-top: 20px;
}

.Clock-box {
  padding: 12px;
  display: inline-block;
  text-align: center;
  justify-content: center;
  border: .5px solid white;
  border-radius: 16px;
  margin-bottom: 40px;
}

.Clock-days, .Clock-hours, .Clock-mins, .Clock-seconds {
  display: inline;
  margin: 10px;
  font-size: 60px;
  font-family: Roboto;
  letter-spacing: 10px;
}

.Deadline-input {
  margin: 5px;
  width: 240px;
  height: 50px;
  font-size: 20px;
}

button.btn.btn-primary {
  height: 50px;
}

.form-inline {
  justify-content: center;
  margin-top: 24px;
}

body {
  height: 70vh;
  background: linear-gradient(black, grey);
  color: white;
}
